@import '@/scss/mixins.scss';
@import '@/scss/common.scss';
@import '@/scss/fonts.scss';

.hero-section {
  @include flex(center, center, row);
  width: 100vw;
  margin: auto;
  // height: calc(100vh - var(--footer-height) - var(--header-height));
  // background-image: url('@/assets/images/content_img/bakcground.JPG');
  background-size: cover;
  // max-width: 1280px;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;

  &__description__wrapper {
    @include flex(start, center, column);
    padding: var(--padding-main);
    gap: var(--gap-main);
    max-width: 500px;
    height: auto;
    background-color: var(--basic-background-blur-color);
    border-radius: 10px;
  }

  &__description__slogan {
    @include font(
      var(--headers1-font-family),
      var(--headers-font-weight),
      var(--headers1-font-size),
      30px
    );
    color: var(--basic-text-color);
  }

  &__description {
    @include font(
      var(--main-font-family),
      var(--headers-font-weight),
      var(--main-font-size),
      20px
    );
    color: var(--basic-text-color);
  }

  &__carousel__wrapper {
    @include flex(start, center, column);
    padding: var(--padding-main);
    gap: var(--gap-main);
    max-width: 500px;
    height: 600px;
    background-color: var(--basic-background-blur-color);
    border-radius: 10px;
  }
}
