:root {
  // --------------------------colors-------------------------------
  --basic-decore-color: hsl(188, 48%, 50%);
  --secondary-decore-color: #426ebd;
  --third-decore-color: #42bd91;

  --basic-text-color: #150089;
  --secondary-text-color: #5d0077;

  --basic-background-blur-color: hsla(188, 48%, 50%, 0.741);

  //---------------------------sizes----------------------------------
  --headers1-font-size: 32px;
  --headers2-font-size: 25px;
  --headers3-font-size: 20px;
  --main-font-size: 16px;
  --small-font-size: 12px;

  --padding-main: 50px;
  --gap-main: 20px;

  //---------------------------margins----------------------------------

  --header-height: 100px;
  --footer-height: 100px;

  //---------------------------fonts----------------------------------
  --headers-font-family: 'Ruslan Display', system-ui, cursive;
  --main-font-family: 'Play', system-ui, cursive;

  --main-font-weight: 400;
  --headers-font-weight: 600;
  --secondary-font-weight: 500;
}
