@import './reset.scss';
@import './fonts.scss';
@import './mixins.scss';
@import './common.scss';

* {
  font-family: var(--headers-font-family);
}

body::-webkit-scrollbar {
  width: 0.45em;
}

body::-webkit-scrollbar-track {
  background-color: var(--basic-text-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text-color);
}

#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
